DataServices-middleware-client/src/wsdl/localhost_8080/DataServices-middleware/DirectoryService_Search.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://directoryservice.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://directoryservice.middleware.dataservices.lifewatch.eu/" name="DirectoryService_Search">
<types>
<xsd:schema>
<xsd:import namespace="http://directoryservice.middleware.dataservices.lifewatch.eu/" schemaLocation="http://localhost:8080/DataServices-middleware/DirectoryService_Search?xsd=1"/>
</xsd:schema>
</types>
<message name="searchDatasetWithinRange">
<part name="parameters" element="tns:searchDatasetWithinRange"/>
</message>
<message name="searchDatasetWithinRangeResponse">
<part name="parameters" element="tns:searchDatasetWithinRangeResponse"/>
</message>
<message name="searchDataset">
<part name="parameters" element="tns:searchDataset"/>
</message>
<message name="searchDatasetResponse">
<part name="parameters" element="tns:searchDatasetResponse"/>
</message>
<message name="searchResource">
<part name="parameters" element="tns:searchResource"/>
</message>
<message name="searchResourceResponse">
<part name="parameters" element="tns:searchResourceResponse"/>
</message>
<message name="searchLiteral">
<part name="parameters" element="tns:searchLiteral"/>
</message>
<message name="searchLiteralResponse">
<part name="parameters" element="tns:searchLiteralResponse"/>
</message>
<portType name="DirectoryService_Search">
<operation name="searchDatasetWithinRange">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchDatasetWithinRangeRequest" message="tns:searchDatasetWithinRange"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchDatasetWithinRangeResponse" message="tns:searchDatasetWithinRangeResponse"/>
</operation>
<operation name="searchDataset">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchDatasetRequest" message="tns:searchDataset"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchDatasetResponse" message="tns:searchDatasetResponse"/>
</operation>
<operation name="searchResource">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchResourceRequest" message="tns:searchResource"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchResourceResponse" message="tns:searchResourceResponse"/>
</operation>
<operation name="searchLiteral">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchLiteralRequest" message="tns:searchLiteral"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Search/searchLiteralResponse" message="tns:searchLiteralResponse"/>
</operation>
</portType>
<binding name="DirectoryService_SearchPortBinding" type="tns:DirectoryService_Search">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchDatasetWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDataset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchResource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchLiteral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DirectoryService_Search">
<port name="DirectoryService_SearchPort" binding="tns:DirectoryService_SearchPortBinding">
<soap:address location="http://localhost:8080/DataServices-middleware/DirectoryService_Search"/>
</port>
</service>
</definitions>