DataServices-middleware-client/src/wsdl/localhost_8080/DataServices-middleware/FundamentalCategories_SearchEvent.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" name="FundamentalCategories_SearchEvent">
<types>
<xsd:schema>
<xsd:import namespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" schemaLocation="http://localhost:8080/DataServices-middleware/FundamentalCategories_SearchEvent?xsd=1"/>
</xsd:schema>
</types>
<message name="searchEventByActor">
<part name="parameters" element="tns:searchEventByActor"/>
</message>
<message name="searchEventByActorResponse">
<part name="parameters" element="tns:searchEventByActorResponse"/>
</message>
<message name="searchEventFromPlace">
<part name="parameters" element="tns:searchEventFromPlace"/>
</message>
<message name="searchEventFromPlaceResponse">
<part name="parameters" element="tns:searchEventFromPlaceResponse"/>
</message>
<message name="searchEventFromTime">
<part name="parameters" element="tns:searchEventFromTime"/>
</message>
<message name="searchEventFromTimeResponse">
<part name="parameters" element="tns:searchEventFromTimeResponse"/>
</message>
<message name="searchEventHasMetActor">
<part name="parameters" element="tns:searchEventHasMetActor"/>
</message>
<message name="searchEventHasMetActorResponse">
<part name="parameters" element="tns:searchEventHasMetActorResponse"/>
</message>
<message name="searchEventHasMetThing">
<part name="parameters" element="tns:searchEventHasMetThing"/>
</message>
<message name="searchEventHasMetThingResponse">
<part name="parameters" element="tns:searchEventHasMetThingResponse"/>
</message>
<message name="searchEventMeasuredDimension">
<part name="parameters" element="tns:searchEventMeasuredDimension"/>
</message>
<message name="searchEventMeasuredDimensionResponse">
<part name="parameters" element="tns:searchEventMeasuredDimensionResponse"/>
</message>
<portType name="FundamentalCategories_SearchEvent">
<operation name="searchEventByActor">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventByActorRequest" message="tns:searchEventByActor"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventByActorResponse" message="tns:searchEventByActorResponse"/>
</operation>
<operation name="searchEventFromPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventFromPlaceRequest" message="tns:searchEventFromPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventFromPlaceResponse" message="tns:searchEventFromPlaceResponse"/>
</operation>
<operation name="searchEventFromTime">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventFromTimeRequest" message="tns:searchEventFromTime"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventFromTimeResponse" message="tns:searchEventFromTimeResponse"/>
</operation>
<operation name="searchEventHasMetActor">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventHasMetActorRequest" message="tns:searchEventHasMetActor"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventHasMetActorResponse" message="tns:searchEventHasMetActorResponse"/>
</operation>
<operation name="searchEventHasMetThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventHasMetThingRequest" message="tns:searchEventHasMetThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventHasMetThingResponse" message="tns:searchEventHasMetThingResponse"/>
</operation>
<operation name="searchEventMeasuredDimension">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventMeasuredDimensionRequest" message="tns:searchEventMeasuredDimension"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchEvent/searchEventMeasuredDimensionResponse" message="tns:searchEventMeasuredDimensionResponse"/>
</operation>
</portType>
<binding name="FundamentalCategories_SearchEventPortBinding" type="tns:FundamentalCategories_SearchEvent">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchEventByActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEventFromPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEventFromTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEventHasMetActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEventHasMetThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEventMeasuredDimension">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FundamentalCategories_SearchEvent">
<port name="FundamentalCategories_SearchEventPort" binding="tns:FundamentalCategories_SearchEventPortBinding">
<soap:address location="http://localhost:8080/DataServices-middleware/FundamentalCategories_SearchEvent"/>
</port>
</service>
</definitions>