DataServices-middleware-client/src/wsdl/localhost_8080/DataServices-middleware/FundamentalCategories_SearchActor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" name="FundamentalCatagories_SearchActor">
<types>
<xsd:schema>
<xsd:import namespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" schemaLocation="http://localhost:8080/DataServices-middleware/FundamentalCategories_SearchActor?xsd=1"/>
</xsd:schema>
</types>
<message name="searchActorIsOwnerOrCreatorOfThing">
<part name="parameters" element="tns:searchActorIsOwnerOrCreatorOfThing"/>
</message>
<message name="searchActorIsOwnerOrCreatorOfThingResponse">
<part name="parameters" element="tns:searchActorIsOwnerOrCreatorOfThingResponse"/>
</message>
<message name="searchActorFromPlace">
<part name="parameters" element="tns:searchActorFromPlace"/>
</message>
<message name="searchActorFromPlaceResponse">
<part name="parameters" element="tns:searchActorFromPlaceResponse"/>
</message>
<message name="searchActorFromTime">
<part name="parameters" element="tns:searchActorFromTime"/>
</message>
<message name="searchActorFromTimeResponse">
<part name="parameters" element="tns:searchActorFromTimeResponse"/>
</message>
<message name="searchActorHasMetPlace">
<part name="parameters" element="tns:searchActorHasMetPlace"/>
</message>
<message name="searchActorHasMetPlaceResponse">
<part name="parameters" element="tns:searchActorHasMetPlaceResponse"/>
</message>
<message name="searchActorHasMetThing">
<part name="parameters" element="tns:searchActorHasMetThing"/>
</message>
<message name="searchActorHasMetThingResponse">
<part name="parameters" element="tns:searchActorHasMetThingResponse"/>
</message>
<message name="searchActorMeasuredDimension">
<part name="parameters" element="tns:searchActorMeasuredDimension"/>
</message>
<message name="searchActorMeasuredDimensionResponse">
<part name="parameters" element="tns:searchActorMeasuredDimensionResponse"/>
</message>
<message name="searchActorRefersToEvent">
<part name="parameters" element="tns:searchActorRefersToEvent"/>
</message>
<message name="searchActorRefersToEventResponse">
<part name="parameters" element="tns:searchActorRefersToEventResponse"/>
</message>
<message name="searchActorRefersToThing">
<part name="parameters" element="tns:searchActorRefersToThing"/>
</message>
<message name="searchActorRefersToThingResponse">
<part name="parameters" element="tns:searchActorRefersToThingResponse"/>
</message>
<portType name="FundamentalCategories_SearchActor">
<operation name="searchActorIsOwnerOrCreatorOfThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorIsOwnerOrCreatorOfThingRequest" message="tns:searchActorIsOwnerOrCreatorOfThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorIsOwnerOrCreatorOfThingResponse" message="tns:searchActorIsOwnerOrCreatorOfThingResponse"/>
</operation>
<operation name="searchActorFromPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorFromPlaceRequest" message="tns:searchActorFromPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorFromPlaceResponse" message="tns:searchActorFromPlaceResponse"/>
</operation>
<operation name="searchActorFromTime">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorFromTimeRequest" message="tns:searchActorFromTime"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorFromTimeResponse" message="tns:searchActorFromTimeResponse"/>
</operation>
<operation name="searchActorHasMetPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorHasMetPlaceRequest" message="tns:searchActorHasMetPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorHasMetPlaceResponse" message="tns:searchActorHasMetPlaceResponse"/>
</operation>
<operation name="searchActorHasMetThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorHasMetThingRequest" message="tns:searchActorHasMetThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorHasMetThingResponse" message="tns:searchActorHasMetThingResponse"/>
</operation>
<operation name="searchActorMeasuredDimension">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorMeasuredDimensionRequest" message="tns:searchActorMeasuredDimension"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorMeasuredDimensionResponse" message="tns:searchActorMeasuredDimensionResponse"/>
</operation>
<operation name="searchActorRefersToEvent">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorRefersToEventRequest" message="tns:searchActorRefersToEvent"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorRefersToEventResponse" message="tns:searchActorRefersToEventResponse"/>
</operation>
<operation name="searchActorRefersToThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorRefersToThingRequest" message="tns:searchActorRefersToThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchActor/searchActorRefersToThingResponse" message="tns:searchActorRefersToThingResponse"/>
</operation>
</portType>
<binding name="FundamentalCategories_SearchActorPortBinding" type="tns:FundamentalCategories_SearchActor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchActorIsOwnerOrCreatorOfThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchActorFromPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchActorFromTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchActorHasMetPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchActorHasMetThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchActorMeasuredDimension">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchActorRefersToEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchActorRefersToThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FundamentalCatagories_SearchActor">
<port name="FundamentalCategories_SearchActorPort" binding="tns:FundamentalCategories_SearchActorPortBinding">
<soap:address location="http://localhost:8080/DataServices-middleware/FundamentalCategories_SearchActor"/>
</port>
</service>
</definitions>