DataServices-middleware-client/src/wsdl/localhost_8080/DataServices-middleware/FundamentalCategories_SearchThing.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" name="FundamentalCategories_SearchThing">
<types>
<xsd:schema>
<xsd:import namespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" schemaLocation="http://localhost:8080/DataServices-middleware/FundamentalCategories_SearchThing?xsd=1"/>
</xsd:schema>
</types>
<message name="searchThingByActor">
<part name="parameters" element="tns:searchThingByActor"/>
</message>
<message name="searchThingByActorResponse">
<part name="parameters" element="tns:searchThingByActorResponse"/>
</message>
<message name="searchThingByEvent">
<part name="parameters" element="tns:searchThingByEvent"/>
</message>
<message name="searchThingByEventResponse">
<part name="parameters" element="tns:searchThingByEventResponse"/>
</message>
<message name="searchThingFromActor">
<part name="parameters" element="tns:searchThingFromActor"/>
</message>
<message name="searchThingFromActorResponse">
<part name="parameters" element="tns:searchThingFromActorResponse"/>
</message>
<message name="searchThingFromEvent">
<part name="parameters" element="tns:searchThingFromEvent"/>
</message>
<message name="searchThingFromEventResponse">
<part name="parameters" element="tns:searchThingFromEventResponse"/>
</message>
<message name="searchThingFromPlace">
<part name="parameters" element="tns:searchThingFromPlace"/>
</message>
<message name="searchThingFromPlaceResponse">
<part name="parameters" element="tns:searchThingFromPlaceResponse"/>
</message>
<message name="searchThingFromThing">
<part name="parameters" element="tns:searchThingFromThing"/>
</message>
<message name="searchThingFromThingResponse">
<part name="parameters" element="tns:searchThingFromThingResponse"/>
</message>
<message name="searchThingFromTime">
<part name="parameters" element="tns:searchThingFromTime"/>
</message>
<message name="searchThingFromTimeResponse">
<part name="parameters" element="tns:searchThingFromTimeResponse"/>
</message>
<message name="searchThingHasDimension">
<part name="parameters" element="tns:searchThingHasDimension"/>
</message>
<message name="searchThingHasDimensionResponse">
<part name="parameters" element="tns:searchThingHasDimensionResponse"/>
</message>
<message name="searchThingHasMetActor">
<part name="parameters" element="tns:searchThingHasMetActor"/>
</message>
<message name="searchThingHasMetActorResponse">
<part name="parameters" element="tns:searchThingHasMetActorResponse"/>
</message>
<message name="searchThingHasMetPlace">
<part name="parameters" element="tns:searchThingHasMetPlace"/>
</message>
<message name="searchThingHasMetPlaceResponse">
<part name="parameters" element="tns:searchThingHasMetPlaceResponse"/>
</message>
<message name="searchThingHasMetThing">
<part name="parameters" element="tns:searchThingHasMetThing"/>
</message>
<message name="searchThingHasMetThingResponse">
<part name="parameters" element="tns:searchThingHasMetThingResponse"/>
</message>
<message name="searchThingHasMetTime">
<part name="parameters" element="tns:searchThingHasMetTime"/>
</message>
<message name="searchThingHasMetTimeResponse">
<part name="parameters" element="tns:searchThingHasMetTimeResponse"/>
</message>
<message name="searchThingRefersToEvent">
<part name="parameters" element="tns:searchThingRefersToEvent"/>
</message>
<message name="searchThingRefersToEventResponse">
<part name="parameters" element="tns:searchThingRefersToEventResponse"/>
</message>
<message name="searchThingRefersToThing">
<part name="parameters" element="tns:searchThingRefersToThing"/>
</message>
<message name="searchThingRefersToThingResponse">
<part name="parameters" element="tns:searchThingRefersToThingResponse"/>
</message>
<portType name="FundamentalCategories_SearchThing">
<operation name="searchThingByActor">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingByActorRequest" message="tns:searchThingByActor"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingByActorResponse" message="tns:searchThingByActorResponse"/>
</operation>
<operation name="searchThingByEvent">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingByEventRequest" message="tns:searchThingByEvent"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingByEventResponse" message="tns:searchThingByEventResponse"/>
</operation>
<operation name="searchThingFromActor">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromActorRequest" message="tns:searchThingFromActor"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromActorResponse" message="tns:searchThingFromActorResponse"/>
</operation>
<operation name="searchThingFromEvent">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromEventRequest" message="tns:searchThingFromEvent"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromEventResponse" message="tns:searchThingFromEventResponse"/>
</operation>
<operation name="searchThingFromPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromPlaceRequest" message="tns:searchThingFromPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromPlaceResponse" message="tns:searchThingFromPlaceResponse"/>
</operation>
<operation name="searchThingFromThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromThingRequest" message="tns:searchThingFromThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromThingResponse" message="tns:searchThingFromThingResponse"/>
</operation>
<operation name="searchThingFromTime">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromTimeRequest" message="tns:searchThingFromTime"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingFromTimeResponse" message="tns:searchThingFromTimeResponse"/>
</operation>
<operation name="searchThingHasDimension">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasDimensionRequest" message="tns:searchThingHasDimension"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasDimensionResponse" message="tns:searchThingHasDimensionResponse"/>
</operation>
<operation name="searchThingHasMetActor">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetActorRequest" message="tns:searchThingHasMetActor"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetActorResponse" message="tns:searchThingHasMetActorResponse"/>
</operation>
<operation name="searchThingHasMetPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetPlaceRequest" message="tns:searchThingHasMetPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetPlaceResponse" message="tns:searchThingHasMetPlaceResponse"/>
</operation>
<operation name="searchThingHasMetThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetThingRequest" message="tns:searchThingHasMetThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetThingResponse" message="tns:searchThingHasMetThingResponse"/>
</operation>
<operation name="searchThingHasMetTime">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetTimeRequest" message="tns:searchThingHasMetTime"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingHasMetTimeResponse" message="tns:searchThingHasMetTimeResponse"/>
</operation>
<operation name="searchThingRefersToEvent">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingRefersToEventRequest" message="tns:searchThingRefersToEvent"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingRefersToEventResponse" message="tns:searchThingRefersToEventResponse"/>
</operation>
<operation name="searchThingRefersToThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingRefersToThingRequest" message="tns:searchThingRefersToThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchThing/searchThingRefersToThingResponse" message="tns:searchThingRefersToThingResponse"/>
</operation>
</portType>
<binding name="FundamentalCategories_SearchThingPortBinding" type="tns:FundamentalCategories_SearchThing">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchThingByActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingByEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingFromActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingFromEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingFromPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingFromThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingFromTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingHasDimension">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingHasMetActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingHasMetPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingHasMetThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingHasMetTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingRefersToEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchThingRefersToThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FundamentalCategories_SearchThing">
<port name="FundamentalCategories_SearchThingPort" binding="tns:FundamentalCategories_SearchThingPortBinding">
<soap:address location="http://localhost:8080/DataServices-middleware/FundamentalCategories_SearchThing"/>
</port>
</service>
</definitions>