DataServices-middleware-client/src/wsdl/localhost_8080/DataServices-middleware/FundamentalCategories_SearchPlace.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/">

<xs:element name="searchPlaceHasDimension" type="tns:searchPlaceHasDimension"/>

<xs:element name="searchPlaceHasDimensionResponse" type="tns:searchPlaceHasDimensionResponse"/>

<xs:element name="searchPlaceHasMetThing" type="tns:searchPlaceHasMetThing"/>

<xs:element name="searchPlaceHasMetThingResponse" type="tns:searchPlaceHasMetThingResponse"/>

<xs:element name="searchPlaceHasPartPlace" type="tns:searchPlaceHasPartPlace"/>

<xs:element name="searchPlaceHasPartPlaceResponse" type="tns:searchPlaceHasPartPlaceResponse"/>

<xs:element name="searchPlaceIsPartOfPlace" type="tns:searchPlaceIsPartOfPlace"/>

<xs:element name="searchPlaceIsPartOfPlaceResponse" type="tns:searchPlaceIsPartOfPlaceResponse"/>

<xs:complexType name="searchPlaceHasMetThing">
<xs:sequence>
<xs:element name="thing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPlaceHasMetThingResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sparqlResultMap">
<xs:sequence>
<xs:element name="Sparqlresults" type="tns:sparqlResults" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sparqlResults">
<xs:sequence>
<xs:element name="Sparqlresult" type="tns:sparqlResult" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sparqlResult">
<xs:sequence/>
<xs:attribute name="Key" type="xs:string"/>
<xs:attribute name="Value" type="xs:string"/>
</xs:complexType>

<xs:complexType name="searchPlaceHasPartPlace">
<xs:sequence>
<xs:element name="place" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPlaceHasPartPlaceResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPlaceIsPartOfPlace">
<xs:sequence>
<xs:element name="place" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPlaceIsPartOfPlaceResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPlaceHasDimension">
<xs:sequence>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPlaceHasDimensionResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>