DataServices-middleware-client/src/wsdl/localhost_8080/DataServices-middleware/MetadataRepository_Insert.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://metadatarepository.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://metadatarepository.middleware.dataservices.lifewatch.eu/" name="MetadataRepository_Insert">
<types>
<xsd:schema>
<xsd:import namespace="http://metadatarepository.middleware.dataservices.lifewatch.eu/" schemaLocation="http://localhost:8080/DataServices-middleware/MetadataRepository_Insert?xsd=1"/>
</xsd:schema>
</types>
<message name="insertMeasurement">
<part name="parameters" element="tns:insertMeasurement"/>
</message>
<message name="insertMeasurementResponse">
<part name="parameters" element="tns:insertMeasurementResponse"/>
</message>
<message name="insertCommonName">
<part name="parameters" element="tns:insertCommonName"/>
</message>
<message name="insertCommonNameResponse">
<part name="parameters" element="tns:insertCommonNameResponse"/>
</message>
<message name="insertEnvironmental">
<part name="parameters" element="tns:insertEnvironmental"/>
</message>
<message name="insertEnvironmentalResponse">
<part name="parameters" element="tns:insertEnvironmentalResponse"/>
</message>
<message name="insertIdentification">
<part name="parameters" element="tns:insertIdentification"/>
</message>
<message name="insertIdentificationResponse">
<part name="parameters" element="tns:insertIdentificationResponse"/>
</message>
<message name="insertScientificNaming">
<part name="parameters" element="tns:insertScientificNaming"/>
</message>
<message name="insertScientificNamingResponse">
<part name="parameters" element="tns:insertScientificNamingResponse"/>
</message>
<message name="insertTaxonomy">
<part name="parameters" element="tns:insertTaxonomy"/>
</message>
<message name="insertTaxonomyResponse">
<part name="parameters" element="tns:insertTaxonomyResponse"/>
</message>
<message name="insertMicroCTPostProcessing">
<part name="parameters" element="tns:insertMicroCTPostProcessing"/>
</message>
<message name="insertMicroCTPostProcessingResponse">
<part name="parameters" element="tns:insertMicroCTPostProcessingResponse"/>
</message>
<message name="insertGensDataset">
<part name="parameters" element="tns:insertGensDataset"/>
</message>
<message name="insertGensDatasetResponse">
<part name="parameters" element="tns:insertGensDatasetResponse"/>
</message>
<message name="insertOccurrenceStatsTemp">
<part name="parameters" element="tns:insertOccurrenceStatsTemp"/>
</message>
<message name="insertOccurrenceStatsTempResponse">
<part name="parameters" element="tns:insertOccurrenceStatsTempResponse"/>
</message>
<message name="insertSpecimen">
<part name="parameters" element="tns:insertSpecimen"/>
</message>
<message name="insertSpecimenResponse">
<part name="parameters" element="tns:insertSpecimenResponse"/>
</message>
<message name="insertSpecimenCollection">
<part name="parameters" element="tns:insertSpecimenCollection"/>
</message>
<message name="insertSpecimenCollectionResponse">
<part name="parameters" element="tns:insertSpecimenCollectionResponse"/>
</message>
<message name="insertMicroCTReconstruction">
<part name="parameters" element="tns:insertMicroCTReconstruction"/>
</message>
<message name="insertMicroCTReconstructionResponse">
<part name="parameters" element="tns:insertMicroCTReconstructionResponse"/>
</message>
<message name="insertMicroCTScanning">
<part name="parameters" element="tns:insertMicroCTScanning"/>
</message>
<message name="insertMicroCTScanningResponse">
<part name="parameters" element="tns:insertMicroCTScanningResponse"/>
</message>
<message name="insertStats">
<part name="parameters" element="tns:insertStats"/>
</message>
<message name="insertStatsResponse">
<part name="parameters" element="tns:insertStatsResponse"/>
</message>
<message name="insertGensSample">
<part name="parameters" element="tns:insertGensSample"/>
</message>
<message name="insertGensSampleResponse">
<part name="parameters" element="tns:insertGensSampleResponse"/>
</message>
<message name="insertMicroCTSpecimen">
<part name="parameters" element="tns:insertMicroCTSpecimen"/>
</message>
<message name="insertMicroCTSpecimenResponse">
<part name="parameters" element="tns:insertMicroCTSpecimenResponse"/>
</message>
<message name="insertOccurrenceStatsAbundance">
<part name="parameters" element="tns:insertOccurrenceStatsAbundance"/>
</message>
<message name="insertOccurrenceStatsAbundanceResponse">
<part name="parameters" element="tns:insertOccurrenceStatsAbundanceResponse"/>
</message>
<message name="insertMorphometrics">
<part name="parameters" element="tns:insertMorphometrics"/>
</message>
<message name="insertMorphometricsResponse">
<part name="parameters" element="tns:insertMorphometricsResponse"/>
</message>
<message name="insertOccurrence">
<part name="parameters" element="tns:insertOccurrence"/>
</message>
<message name="insertOccurrenceResponse">
<part name="parameters" element="tns:insertOccurrenceResponse"/>
</message>
<message name="insertSynonym">
<part name="parameters" element="tns:insertSynonym"/>
</message>
<message name="insertSynonymResponse">
<part name="parameters" element="tns:insertSynonymResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<portType name="MetadataRepository_Insert">
<operation name="insertMeasurement">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMeasurementRequest" message="tns:insertMeasurement"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMeasurementResponse" message="tns:insertMeasurementResponse"/>
</operation>
<operation name="insertCommonName">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertCommonNameRequest" message="tns:insertCommonName"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertCommonNameResponse" message="tns:insertCommonNameResponse"/>
</operation>
<operation name="insertEnvironmental">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertEnvironmentalRequest" message="tns:insertEnvironmental"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertEnvironmentalResponse" message="tns:insertEnvironmentalResponse"/>
</operation>
<operation name="insertIdentification">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertIdentificationRequest" message="tns:insertIdentification"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertIdentificationResponse" message="tns:insertIdentificationResponse"/>
</operation>
<operation name="insertScientificNaming">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertScientificNamingRequest" message="tns:insertScientificNaming"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertScientificNamingResponse" message="tns:insertScientificNamingResponse"/>
</operation>
<operation name="insertTaxonomy">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertTaxonomyRequest" message="tns:insertTaxonomy"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertTaxonomyResponse" message="tns:insertTaxonomyResponse"/>
</operation>
<operation name="insertMicroCTPostProcessing">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTPostProcessingRequest" message="tns:insertMicroCTPostProcessing"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTPostProcessingResponse" message="tns:insertMicroCTPostProcessingResponse"/>
</operation>
<operation name="insertGensDataset">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertGensDatasetRequest" message="tns:insertGensDataset"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertGensDatasetResponse" message="tns:insertGensDatasetResponse"/>
</operation>
<operation name="insertOccurrenceStatsTemp">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertOccurrenceStatsTempRequest" message="tns:insertOccurrenceStatsTemp"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertOccurrenceStatsTempResponse" message="tns:insertOccurrenceStatsTempResponse"/>
</operation>
<operation name="insertSpecimen">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertSpecimenRequest" message="tns:insertSpecimen"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertSpecimenResponse" message="tns:insertSpecimenResponse"/>
</operation>
<operation name="insertSpecimenCollection">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertSpecimenCollectionRequest" message="tns:insertSpecimenCollection"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertSpecimenCollectionResponse" message="tns:insertSpecimenCollectionResponse"/>
</operation>
<operation name="insertMicroCTReconstruction">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTReconstructionRequest" message="tns:insertMicroCTReconstruction"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTReconstructionResponse" message="tns:insertMicroCTReconstructionResponse"/>
</operation>
<operation name="insertMicroCTScanning">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTScanningRequest" message="tns:insertMicroCTScanning"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTScanningResponse" message="tns:insertMicroCTScanningResponse"/>
</operation>
<operation name="insertStats">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertStatsRequest" message="tns:insertStats"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertStatsResponse" message="tns:insertStatsResponse"/>
</operation>
<operation name="insertGensSample">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertGensSampleRequest" message="tns:insertGensSample"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertGensSampleResponse" message="tns:insertGensSampleResponse"/>
</operation>
<operation name="insertMicroCTSpecimen">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTSpecimenRequest" message="tns:insertMicroCTSpecimen"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMicroCTSpecimenResponse" message="tns:insertMicroCTSpecimenResponse"/>
</operation>
<operation name="insertOccurrenceStatsAbundance">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertOccurrenceStatsAbundanceRequest" message="tns:insertOccurrenceStatsAbundance"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertOccurrenceStatsAbundanceResponse" message="tns:insertOccurrenceStatsAbundanceResponse"/>
</operation>
<operation name="insertMorphometrics">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMorphometricsRequest" message="tns:insertMorphometrics"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertMorphometricsResponse" message="tns:insertMorphometricsResponse"/>
</operation>
<operation name="insertOccurrence">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertOccurrenceRequest" message="tns:insertOccurrence"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertOccurrenceResponse" message="tns:insertOccurrenceResponse"/>
</operation>
<operation name="insertSynonym">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertSynonymRequest" message="tns:insertSynonym"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertSynonymResponse" message="tns:insertSynonymResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertRequest" message="tns:insert"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Insert/insertResponse" message="tns:insertResponse"/>
</operation>
</portType>
<binding name="MetadataRepository_InsertPortBinding" type="tns:MetadataRepository_Insert">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertMeasurement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertCommonName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertEnvironmental">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertIdentification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertScientificNaming">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTaxonomy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMicroCTPostProcessing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertGensDataset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertOccurrenceStatsTemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertSpecimen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertSpecimenCollection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMicroCTReconstruction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMicroCTScanning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertStats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertGensSample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMicroCTSpecimen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertOccurrenceStatsAbundance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMorphometrics">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertOccurrence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertSynonym">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MetadataRepository_Insert">
<port name="MetadataRepository_InsertPort" binding="tns:MetadataRepository_InsertPortBinding">
<soap:address location="http://localhost:8080/DataServices-middleware/MetadataRepository_Insert"/>
</port>
</service>
</definitions>