DataServices-middleware-client/src/wsdl/localhost_8080/DataServices-middleware/MetadataRepository_Search.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://metadatarepository.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://metadatarepository.middleware.dataservices.lifewatch.eu/" name="MetadataRepository_Search">
<types>
<xsd:schema>
<xsd:import namespace="http://metadatarepository.middleware.dataservices.lifewatch.eu/" schemaLocation="http://localhost:8080/DataServices-middleware/MetadataRepository_Search?xsd=1"/>
</xsd:schema>
</types>
<message name="searchResource">
<part name="parameters" element="tns:searchResource"/>
</message>
<message name="searchResourceResponse">
<part name="parameters" element="tns:searchResourceResponse"/>
</message>
<message name="searchLiteral">
<part name="parameters" element="tns:searchLiteral"/>
</message>
<message name="searchLiteralResponse">
<part name="parameters" element="tns:searchLiteralResponse"/>
</message>
<message name="searchCommonName">
<part name="parameters" element="tns:searchCommonName"/>
</message>
<message name="searchCommonNameResponse">
<part name="parameters" element="tns:searchCommonNameResponse"/>
</message>
<message name="searchGenetics">
<part name="parameters" element="tns:searchGenetics"/>
</message>
<message name="searchGeneticsResponse">
<part name="parameters" element="tns:searchGeneticsResponse"/>
</message>
<message name="searchGensSample">
<part name="parameters" element="tns:searchGensSample"/>
</message>
<message name="searchGensSampleResponse">
<part name="parameters" element="tns:searchGensSampleResponse"/>
</message>
<message name="searchOccurrence">
<part name="parameters" element="tns:searchOccurrence"/>
</message>
<message name="searchOccurrenceResponse">
<part name="parameters" element="tns:searchOccurrenceResponse"/>
</message>
<message name="searchSpecimen">
<part name="parameters" element="tns:searchSpecimen"/>
</message>
<message name="searchSpecimenResponse">
<part name="parameters" element="tns:searchSpecimenResponse"/>
</message>
<message name="searchStats">
<part name="parameters" element="tns:searchStats"/>
</message>
<message name="searchStatsResponse">
<part name="parameters" element="tns:searchStatsResponse"/>
</message>
<message name="searchSynonym">
<part name="parameters" element="tns:searchSynonym"/>
</message>
<message name="searchSynonymResponse">
<part name="parameters" element="tns:searchSynonymResponse"/>
</message>
<message name="searchTaxonomy">
<part name="parameters" element="tns:searchTaxonomy"/>
</message>
<message name="searchTaxonomyResponse">
<part name="parameters" element="tns:searchTaxonomyResponse"/>
</message>
<message name="searchCommonNameWithinRange">
<part name="parameters" element="tns:searchCommonNameWithinRange"/>
</message>
<message name="searchCommonNameWithinRangeResponse">
<part name="parameters" element="tns:searchCommonNameWithinRangeResponse"/>
</message>
<message name="searchEnvironmental">
<part name="parameters" element="tns:searchEnvironmental"/>
</message>
<message name="searchEnvironmentalResponse">
<part name="parameters" element="tns:searchEnvironmentalResponse"/>
</message>
<message name="searchEnvironmentalWithinRange">
<part name="parameters" element="tns:searchEnvironmentalWithinRange"/>
</message>
<message name="searchEnvironmentalWithinRangeResponse">
<part name="parameters" element="tns:searchEnvironmentalWithinRangeResponse"/>
</message>
<message name="searchGeneticsWithinRange">
<part name="parameters" element="tns:searchGeneticsWithinRange"/>
</message>
<message name="searchGeneticsWithinRangeResponse">
<part name="parameters" element="tns:searchGeneticsWithinRangeResponse"/>
</message>
<message name="searchGensSampleWithinRange">
<part name="parameters" element="tns:searchGensSampleWithinRange"/>
</message>
<message name="searchGensSampleWithinRangeResponse">
<part name="parameters" element="tns:searchGensSampleWithinRangeResponse"/>
</message>
<message name="searchIdentification">
<part name="parameters" element="tns:searchIdentification"/>
</message>
<message name="searchIdentificationResponse">
<part name="parameters" element="tns:searchIdentificationResponse"/>
</message>
<message name="searchIdentificationWithinRange">
<part name="parameters" element="tns:searchIdentificationWithinRange"/>
</message>
<message name="searchIdentificationWithinRangeResponse">
<part name="parameters" element="tns:searchIdentificationWithinRangeResponse"/>
</message>
<message name="searchMeasurement">
<part name="parameters" element="tns:searchMeasurement"/>
</message>
<message name="searchMeasurementResponse">
<part name="parameters" element="tns:searchMeasurementResponse"/>
</message>
<message name="searchMeasurementWithinRange">
<part name="parameters" element="tns:searchMeasurementWithinRange"/>
</message>
<message name="searchMeasurementWithinRangeResponse">
<part name="parameters" element="tns:searchMeasurementWithinRangeResponse"/>
</message>
<message name="searchMicroCTPostProcessing">
<part name="parameters" element="tns:searchMicroCTPostProcessing"/>
</message>
<message name="searchMicroCTPostProcessingResponse">
<part name="parameters" element="tns:searchMicroCTPostProcessingResponse"/>
</message>
<message name="searchMicroCTReconstruction">
<part name="parameters" element="tns:searchMicroCTReconstruction"/>
</message>
<message name="searchMicroCTReconstructionResponse">
<part name="parameters" element="tns:searchMicroCTReconstructionResponse"/>
</message>
<message name="searchMicroCTScanning">
<part name="parameters" element="tns:searchMicroCTScanning"/>
</message>
<message name="searchMicroCTScanningResponse">
<part name="parameters" element="tns:searchMicroCTScanningResponse"/>
</message>
<message name="searchMicroCTScanningWithinRange">
<part name="parameters" element="tns:searchMicroCTScanningWithinRange"/>
</message>
<message name="searchMicroCTScanningWithinRangeResponse">
<part name="parameters" element="tns:searchMicroCTScanningWithinRangeResponse"/>
</message>
<message name="searchMicroCTSpecimen">
<part name="parameters" element="tns:searchMicroCTSpecimen"/>
</message>
<message name="searchMicroCTSpecimenResponse">
<part name="parameters" element="tns:searchMicroCTSpecimenResponse"/>
</message>
<message name="searchMicroCTSpecimenWithinRange">
<part name="parameters" element="tns:searchMicroCTSpecimenWithinRange"/>
</message>
<message name="searchMicroCTSpecimenWithinRangeResponse">
<part name="parameters" element="tns:searchMicroCTSpecimenWithinRangeResponse"/>
</message>
<message name="searchMorphometrics">
<part name="parameters" element="tns:searchMorphometrics"/>
</message>
<message name="searchMorphometricsResponse">
<part name="parameters" element="tns:searchMorphometricsResponse"/>
</message>
<message name="searchMorphometricsWithinRange">
<part name="parameters" element="tns:searchMorphometricsWithinRange"/>
</message>
<message name="searchMorphometricsWithinRangeResponse">
<part name="parameters" element="tns:searchMorphometricsWithinRangeResponse"/>
</message>
<message name="searchOccurrenceStatsTemp">
<part name="parameters" element="tns:searchOccurrenceStatsTemp"/>
</message>
<message name="searchOccurrenceStatsTempResponse">
<part name="parameters" element="tns:searchOccurrenceStatsTempResponse"/>
</message>
<message name="searchOccurrenceWithinRange">
<part name="parameters" element="tns:searchOccurrenceWithinRange"/>
</message>
<message name="searchOccurrenceWithinRangeResponse">
<part name="parameters" element="tns:searchOccurrenceWithinRangeResponse"/>
</message>
<message name="searchScientificNaming">
<part name="parameters" element="tns:searchScientificNaming"/>
</message>
<message name="searchScientificNamingResponse">
<part name="parameters" element="tns:searchScientificNamingResponse"/>
</message>
<message name="searchSpecimenWithinRange">
<part name="parameters" element="tns:searchSpecimenWithinRange"/>
</message>
<message name="searchSpecimenWithinRangeResponse">
<part name="parameters" element="tns:searchSpecimenWithinRangeResponse"/>
</message>
<message name="searchSpecimenCollection">
<part name="parameters" element="tns:searchSpecimenCollection"/>
</message>
<message name="searchSpecimenCollectionResponse">
<part name="parameters" element="tns:searchSpecimenCollectionResponse"/>
</message>
<message name="searchStatsWithinRange">
<part name="parameters" element="tns:searchStatsWithinRange"/>
</message>
<message name="searchStatsWithinRangeResponse">
<part name="parameters" element="tns:searchStatsWithinRangeResponse"/>
</message>
<message name="searchSynonymWithinRange">
<part name="parameters" element="tns:searchSynonymWithinRange"/>
</message>
<message name="searchSynonymWithinRangeResponse">
<part name="parameters" element="tns:searchSynonymWithinRangeResponse"/>
</message>
<message name="searchTaxonomyWithinRange">
<part name="parameters" element="tns:searchTaxonomyWithinRange"/>
</message>
<message name="searchTaxonomyWithinRangeResponse">
<part name="parameters" element="tns:searchTaxonomyWithinRangeResponse"/>
</message>
<message name="searchSpecimenCollectionWithinRange">
<part name="parameters" element="tns:searchSpecimenCollectionWithinRange"/>
</message>
<message name="searchSpecimenCollectionWithinRangeResponse">
<part name="parameters" element="tns:searchSpecimenCollectionWithinRangeResponse"/>
</message>
<message name="searchScientificNamingWithinRange">
<part name="parameters" element="tns:searchScientificNamingWithinRange"/>
</message>
<message name="searchScientificNamingWithinRangeResponse">
<part name="parameters" element="tns:searchScientificNamingWithinRangeResponse"/>
</message>
<message name="searchOccurrenceStatsTempWithinRange">
<part name="parameters" element="tns:searchOccurrenceStatsTempWithinRange"/>
</message>
<message name="searchOccurrenceStatsTempWithinRangeResponse">
<part name="parameters" element="tns:searchOccurrenceStatsTempWithinRangeResponse"/>
</message>
<message name="searchMicroCTReconstructionWithinRange">
<part name="parameters" element="tns:searchMicroCTReconstructionWithinRange"/>
</message>
<message name="searchMicroCTReconstructionWithinRangeResponse">
<part name="parameters" element="tns:searchMicroCTReconstructionWithinRangeResponse"/>
</message>
<message name="searchMicroCTPostProcessingWithinRange">
<part name="parameters" element="tns:searchMicroCTPostProcessingWithinRange"/>
</message>
<message name="searchMicroCTPostProcessingWithinRangeResponse">
<part name="parameters" element="tns:searchMicroCTPostProcessingWithinRangeResponse"/>
</message>
<portType name="MetadataRepository_Search">
<operation name="searchResource">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchResourceRequest" message="tns:searchResource"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchResourceResponse" message="tns:searchResourceResponse"/>
</operation>
<operation name="searchLiteral">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchLiteralRequest" message="tns:searchLiteral"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchLiteralResponse" message="tns:searchLiteralResponse"/>
</operation>
<operation name="searchCommonName">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchCommonNameRequest" message="tns:searchCommonName"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchCommonNameResponse" message="tns:searchCommonNameResponse"/>
</operation>
<operation name="searchGenetics">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGeneticsRequest" message="tns:searchGenetics"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGeneticsResponse" message="tns:searchGeneticsResponse"/>
</operation>
<operation name="searchGensSample">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGensSampleRequest" message="tns:searchGensSample"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGensSampleResponse" message="tns:searchGensSampleResponse"/>
</operation>
<operation name="searchOccurrence">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceRequest" message="tns:searchOccurrence"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceResponse" message="tns:searchOccurrenceResponse"/>
</operation>
<operation name="searchSpecimen">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenRequest" message="tns:searchSpecimen"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenResponse" message="tns:searchSpecimenResponse"/>
</operation>
<operation name="searchStats">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchStatsRequest" message="tns:searchStats"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchStatsResponse" message="tns:searchStatsResponse"/>
</operation>
<operation name="searchSynonym">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSynonymRequest" message="tns:searchSynonym"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSynonymResponse" message="tns:searchSynonymResponse"/>
</operation>
<operation name="searchTaxonomy">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchTaxonomyRequest" message="tns:searchTaxonomy"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchTaxonomyResponse" message="tns:searchTaxonomyResponse"/>
</operation>
<operation name="searchCommonNameWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchCommonNameWithinRangeRequest" message="tns:searchCommonNameWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchCommonNameWithinRangeResponse" message="tns:searchCommonNameWithinRangeResponse"/>
</operation>
<operation name="searchEnvironmental">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchEnvironmentalRequest" message="tns:searchEnvironmental"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchEnvironmentalResponse" message="tns:searchEnvironmentalResponse"/>
</operation>
<operation name="searchEnvironmentalWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchEnvironmentalWithinRangeRequest" message="tns:searchEnvironmentalWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchEnvironmentalWithinRangeResponse" message="tns:searchEnvironmentalWithinRangeResponse"/>
</operation>
<operation name="searchGeneticsWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGeneticsWithinRangeRequest" message="tns:searchGeneticsWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGeneticsWithinRangeResponse" message="tns:searchGeneticsWithinRangeResponse"/>
</operation>
<operation name="searchGensSampleWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGensSampleWithinRangeRequest" message="tns:searchGensSampleWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchGensSampleWithinRangeResponse" message="tns:searchGensSampleWithinRangeResponse"/>
</operation>
<operation name="searchIdentification">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchIdentificationRequest" message="tns:searchIdentification"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchIdentificationResponse" message="tns:searchIdentificationResponse"/>
</operation>
<operation name="searchIdentificationWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchIdentificationWithinRangeRequest" message="tns:searchIdentificationWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchIdentificationWithinRangeResponse" message="tns:searchIdentificationWithinRangeResponse"/>
</operation>
<operation name="searchMeasurement">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMeasurementRequest" message="tns:searchMeasurement"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMeasurementResponse" message="tns:searchMeasurementResponse"/>
</operation>
<operation name="searchMeasurementWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMeasurementWithinRangeRequest" message="tns:searchMeasurementWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMeasurementWithinRangeResponse" message="tns:searchMeasurementWithinRangeResponse"/>
</operation>
<operation name="searchMicroCTPostProcessing">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTPostProcessingRequest" message="tns:searchMicroCTPostProcessing"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTPostProcessingResponse" message="tns:searchMicroCTPostProcessingResponse"/>
</operation>
<operation name="searchMicroCTReconstruction">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTReconstructionRequest" message="tns:searchMicroCTReconstruction"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTReconstructionResponse" message="tns:searchMicroCTReconstructionResponse"/>
</operation>
<operation name="searchMicroCTScanning">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTScanningRequest" message="tns:searchMicroCTScanning"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTScanningResponse" message="tns:searchMicroCTScanningResponse"/>
</operation>
<operation name="searchMicroCTScanningWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTScanningWithinRangeRequest" message="tns:searchMicroCTScanningWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTScanningWithinRangeResponse" message="tns:searchMicroCTScanningWithinRangeResponse"/>
</operation>
<operation name="searchMicroCTSpecimen">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTSpecimenRequest" message="tns:searchMicroCTSpecimen"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTSpecimenResponse" message="tns:searchMicroCTSpecimenResponse"/>
</operation>
<operation name="searchMicroCTSpecimenWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTSpecimenWithinRangeRequest" message="tns:searchMicroCTSpecimenWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTSpecimenWithinRangeResponse" message="tns:searchMicroCTSpecimenWithinRangeResponse"/>
</operation>
<operation name="searchMorphometrics">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMorphometricsRequest" message="tns:searchMorphometrics"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMorphometricsResponse" message="tns:searchMorphometricsResponse"/>
</operation>
<operation name="searchMorphometricsWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMorphometricsWithinRangeRequest" message="tns:searchMorphometricsWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMorphometricsWithinRangeResponse" message="tns:searchMorphometricsWithinRangeResponse"/>
</operation>
<operation name="searchOccurrenceStatsTemp">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceStatsTempRequest" message="tns:searchOccurrenceStatsTemp"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceStatsTempResponse" message="tns:searchOccurrenceStatsTempResponse"/>
</operation>
<operation name="searchOccurrenceWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceWithinRangeRequest" message="tns:searchOccurrenceWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceWithinRangeResponse" message="tns:searchOccurrenceWithinRangeResponse"/>
</operation>
<operation name="searchScientificNaming">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchScientificNamingRequest" message="tns:searchScientificNaming"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchScientificNamingResponse" message="tns:searchScientificNamingResponse"/>
</operation>
<operation name="searchSpecimenWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenWithinRangeRequest" message="tns:searchSpecimenWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenWithinRangeResponse" message="tns:searchSpecimenWithinRangeResponse"/>
</operation>
<operation name="searchSpecimenCollection">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenCollectionRequest" message="tns:searchSpecimenCollection"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenCollectionResponse" message="tns:searchSpecimenCollectionResponse"/>
</operation>
<operation name="searchStatsWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchStatsWithinRangeRequest" message="tns:searchStatsWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchStatsWithinRangeResponse" message="tns:searchStatsWithinRangeResponse"/>
</operation>
<operation name="searchSynonymWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSynonymWithinRangeRequest" message="tns:searchSynonymWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSynonymWithinRangeResponse" message="tns:searchSynonymWithinRangeResponse"/>
</operation>
<operation name="searchTaxonomyWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchTaxonomyWithinRangeRequest" message="tns:searchTaxonomyWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchTaxonomyWithinRangeResponse" message="tns:searchTaxonomyWithinRangeResponse"/>
</operation>
<operation name="searchSpecimenCollectionWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenCollectionWithinRangeRequest" message="tns:searchSpecimenCollectionWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchSpecimenCollectionWithinRangeResponse" message="tns:searchSpecimenCollectionWithinRangeResponse"/>
</operation>
<operation name="searchScientificNamingWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchScientificNamingWithinRangeRequest" message="tns:searchScientificNamingWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchScientificNamingWithinRangeResponse" message="tns:searchScientificNamingWithinRangeResponse"/>
</operation>
<operation name="searchOccurrenceStatsTempWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceStatsTempWithinRangeRequest" message="tns:searchOccurrenceStatsTempWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchOccurrenceStatsTempWithinRangeResponse" message="tns:searchOccurrenceStatsTempWithinRangeResponse"/>
</operation>
<operation name="searchMicroCTReconstructionWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTReconstructionWithinRangeRequest" message="tns:searchMicroCTReconstructionWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTReconstructionWithinRangeResponse" message="tns:searchMicroCTReconstructionWithinRangeResponse"/>
</operation>
<operation name="searchMicroCTPostProcessingWithinRange">
<input wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTPostProcessingWithinRangeRequest" message="tns:searchMicroCTPostProcessingWithinRange"/>
<output wsam:Action="http://metadatarepository.middleware.dataservices.lifewatch.eu/MetadataRepository_Search/searchMicroCTPostProcessingWithinRangeResponse" message="tns:searchMicroCTPostProcessingWithinRangeResponse"/>
</operation>
</portType>
<binding name="MetadataRepository_SearchPortBinding" type="tns:MetadataRepository_Search">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchResource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchLiteral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchCommonName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchGenetics">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchGensSample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchOccurrence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSpecimen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchStats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSynonym">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchTaxonomy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchCommonNameWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEnvironmental">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchEnvironmentalWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchGeneticsWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchGensSampleWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchIdentification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchIdentificationWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMeasurement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMeasurementWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTPostProcessing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTReconstruction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTScanning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTScanningWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTSpecimen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTSpecimenWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMorphometrics">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMorphometricsWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchOccurrenceStatsTemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchOccurrenceWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchScientificNaming">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSpecimenWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSpecimenCollection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchStatsWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSynonymWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchTaxonomyWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchSpecimenCollectionWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchScientificNamingWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchOccurrenceStatsTempWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTReconstructionWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMicroCTPostProcessingWithinRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MetadataRepository_Search">
<port name="MetadataRepository_SearchPort" binding="tns:MetadataRepository_SearchPortBinding">
<soap:address location="http://localhost:8080/DataServices-middleware/MetadataRepository_Search"/>
</port>
</service>
</definitions>