DataServices-middleware-client-VM/src/wsdl/62.217.127.222_8080/DataServices-middleware/DirectoryService_Delete.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://directoryservice.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://directoryservice.middleware.dataservices.lifewatch.eu/" name="DirectoryService_Delete">
<types>
<xsd:schema>
<xsd:import namespace="http://directoryservice.middleware.dataservices.lifewatch.eu/" schemaLocation="http://62.217.127.222:8080/DataServices-middleware/DirectoryService_Delete?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteTriples">
<part name="parameters" element="tns:deleteTriples"/>
</message>
<message name="deleteTriplesResponse">
<part name="parameters" element="tns:deleteTriplesResponse"/>
</message>
<message name="deleteTriplesHavingLiteral">
<part name="parameters" element="tns:deleteTriplesHavingLiteral"/>
</message>
<message name="deleteTriplesHavingLiteralResponse">
<part name="parameters" element="tns:deleteTriplesHavingLiteralResponse"/>
</message>
<message name="deleteTriplesHavingProperty">
<part name="parameters" element="tns:deleteTriplesHavingProperty"/>
</message>
<message name="deleteTriplesHavingPropertyResponse">
<part name="parameters" element="tns:deleteTriplesHavingPropertyResponse"/>
</message>
<message name="deleteTriplesHavingResource">
<part name="parameters" element="tns:deleteTriplesHavingResource"/>
</message>
<message name="deleteTriplesHavingResourceResponse">
<part name="parameters" element="tns:deleteTriplesHavingResourceResponse"/>
</message>
<portType name="DirectoryService_Delete">
<operation name="deleteTriples">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesRequest" message="tns:deleteTriples"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesResponse" message="tns:deleteTriplesResponse"/>
</operation>
<operation name="deleteTriplesHavingLiteral">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesHavingLiteralRequest" message="tns:deleteTriplesHavingLiteral"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesHavingLiteralResponse" message="tns:deleteTriplesHavingLiteralResponse"/>
</operation>
<operation name="deleteTriplesHavingProperty">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesHavingPropertyRequest" message="tns:deleteTriplesHavingProperty"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesHavingPropertyResponse" message="tns:deleteTriplesHavingPropertyResponse"/>
</operation>
<operation name="deleteTriplesHavingResource">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesHavingResourceRequest" message="tns:deleteTriplesHavingResource"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Delete/deleteTriplesHavingResourceResponse" message="tns:deleteTriplesHavingResourceResponse"/>
</operation>
</portType>
<binding name="DirectoryService_DeletePortBinding" type="tns:DirectoryService_Delete">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteTriples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTriplesHavingLiteral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTriplesHavingProperty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTriplesHavingResource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DirectoryService_Delete">
<port name="DirectoryService_DeletePort" binding="tns:DirectoryService_DeletePortBinding">
<soap:address location="http://62.217.127.222:8080/DataServices-middleware/DirectoryService_Delete"/>
</port>
</service>
</definitions>