DataServices-middleware-client-VM/src/wsdl/62.217.127.222_8080/DataServices-middleware/DirectoryService_Update.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://directoryservice.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://directoryservice.middleware.dataservices.lifewatch.eu/" name="DirectoryService_Update">
<types>
<xsd:schema>
<xsd:import namespace="http://directoryservice.middleware.dataservices.lifewatch.eu/" schemaLocation="http://62.217.127.222:8080/DataServices-middleware/DirectoryService_Update?xsd=1"/>
</xsd:schema>
</types>
<message name="updateResource">
<part name="parameters" element="tns:updateResource"/>
</message>
<message name="updateResourceResponse">
<part name="parameters" element="tns:updateResourceResponse"/>
</message>
<message name="updateProperty">
<part name="parameters" element="tns:updateProperty"/>
</message>
<message name="updatePropertyResponse">
<part name="parameters" element="tns:updatePropertyResponse"/>
</message>
<message name="updateLiteral">
<part name="parameters" element="tns:updateLiteral"/>
</message>
<message name="updateLiteralResponse">
<part name="parameters" element="tns:updateLiteralResponse"/>
</message>
<portType name="DirectoryService_Update">
<operation name="updateResource">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Update/updateResourceRequest" message="tns:updateResource"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Update/updateResourceResponse" message="tns:updateResourceResponse"/>
</operation>
<operation name="updateProperty">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Update/updatePropertyRequest" message="tns:updateProperty"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Update/updatePropertyResponse" message="tns:updatePropertyResponse"/>
</operation>
<operation name="updateLiteral">
<input wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Update/updateLiteralRequest" message="tns:updateLiteral"/>
<output wsam:Action="http://directoryservice.middleware.dataservices.lifewatch.eu/DirectoryService_Update/updateLiteralResponse" message="tns:updateLiteralResponse"/>
</operation>
</portType>
<binding name="DirectoryService_UpdatePortBinding" type="tns:DirectoryService_Update">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateResource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProperty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLiteral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DirectoryService_Update">
<port name="DirectoryService_UpdatePort" binding="tns:DirectoryService_UpdatePortBinding">
<soap:address location="http://62.217.127.222:8080/DataServices-middleware/DirectoryService_Update"/>
</port>
</service>
</definitions>