DataServices-middleware-client-VM/src/wsdl/62.217.127.222_8080/DataServices-middleware/FundamentalCategories_SearchPlace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" name="FundamentalCategories_SearchPlace">
<types>
<xsd:schema>
<xsd:import namespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" schemaLocation="http://62.217.127.222:8080/DataServices-middleware/FundamentalCategories_SearchPlace?xsd=1"/>
</xsd:schema>
</types>
<message name="searchPlaceHasMetThing">
<part name="parameters" element="tns:searchPlaceHasMetThing"/>
</message>
<message name="searchPlaceHasMetThingResponse">
<part name="parameters" element="tns:searchPlaceHasMetThingResponse"/>
</message>
<message name="searchPlaceHasPartPlace">
<part name="parameters" element="tns:searchPlaceHasPartPlace"/>
</message>
<message name="searchPlaceHasPartPlaceResponse">
<part name="parameters" element="tns:searchPlaceHasPartPlaceResponse"/>
</message>
<message name="searchPlaceIsPartOfPlace">
<part name="parameters" element="tns:searchPlaceIsPartOfPlace"/>
</message>
<message name="searchPlaceIsPartOfPlaceResponse">
<part name="parameters" element="tns:searchPlaceIsPartOfPlaceResponse"/>
</message>
<message name="searchPlaceHasDimension">
<part name="parameters" element="tns:searchPlaceHasDimension"/>
</message>
<message name="searchPlaceHasDimensionResponse">
<part name="parameters" element="tns:searchPlaceHasDimensionResponse"/>
</message>
<portType name="FundamentalCategories_SearchPlace">
<operation name="searchPlaceHasMetThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceHasMetThingRequest" message="tns:searchPlaceHasMetThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceHasMetThingResponse" message="tns:searchPlaceHasMetThingResponse"/>
</operation>
<operation name="searchPlaceHasPartPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceHasPartPlaceRequest" message="tns:searchPlaceHasPartPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceHasPartPlaceResponse" message="tns:searchPlaceHasPartPlaceResponse"/>
</operation>
<operation name="searchPlaceIsPartOfPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceIsPartOfPlaceRequest" message="tns:searchPlaceIsPartOfPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceIsPartOfPlaceResponse" message="tns:searchPlaceIsPartOfPlaceResponse"/>
</operation>
<operation name="searchPlaceHasDimension">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceHasDimensionRequest" message="tns:searchPlaceHasDimension"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchPlace/searchPlaceHasDimensionResponse" message="tns:searchPlaceHasDimensionResponse"/>
</operation>
</portType>
<binding name="FundamentalCategories_SearchPlacePortBinding" type="tns:FundamentalCategories_SearchPlace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchPlaceHasMetThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchPlaceHasPartPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchPlaceIsPartOfPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchPlaceHasDimension">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FundamentalCategories_SearchPlace">
<port name="FundamentalCategories_SearchPlacePort" binding="tns:FundamentalCategories_SearchPlacePortBinding">
<soap:address location="http://62.217.127.222:8080/DataServices-middleware/FundamentalCategories_SearchPlace"/>
</port>
</service>
</definitions>