DataServices-middleware-client-VM/src/wsdl/62.217.127.222_8080/DataServices-middleware/FundamentalCategories_SearchEvent.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/">

<xs:element name="searchEventByActor" type="tns:searchEventByActor"/>

<xs:element name="searchEventByActorResponse" type="tns:searchEventByActorResponse"/>

<xs:element name="searchEventFromPlace" type="tns:searchEventFromPlace"/>

<xs:element name="searchEventFromPlaceResponse" type="tns:searchEventFromPlaceResponse"/>

<xs:element name="searchEventFromTime" type="tns:searchEventFromTime"/>

<xs:element name="searchEventFromTimeResponse" type="tns:searchEventFromTimeResponse"/>

<xs:element name="searchEventHasMetActor" type="tns:searchEventHasMetActor"/>

<xs:element name="searchEventHasMetActorResponse" type="tns:searchEventHasMetActorResponse"/>

<xs:element name="searchEventHasMetThing" type="tns:searchEventHasMetThing"/>

<xs:element name="searchEventHasMetThingResponse" type="tns:searchEventHasMetThingResponse"/>

<xs:element name="searchEventMeasuredDimension" type="tns:searchEventMeasuredDimension"/>

<xs:element name="searchEventMeasuredDimensionResponse" type="tns:searchEventMeasuredDimensionResponse"/>

<xs:complexType name="searchEventFromTime">
<xs:sequence>
<xs:element name="timespan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventFromTimeResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sparqlResultMap">
<xs:sequence>
<xs:element name="Sparqlresults" type="tns:sparqlResults" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sparqlResults">
<xs:sequence>
<xs:element name="Sparqlresult" type="tns:sparqlResult" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sparqlResult">
<xs:sequence/>
<xs:attribute name="Key" type="xs:string"/>
<xs:attribute name="Value" type="xs:string"/>
</xs:complexType>

<xs:complexType name="searchEventFromPlace">
<xs:sequence>
<xs:element name="place" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventFromPlaceResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventMeasuredDimension">
<xs:sequence>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventMeasuredDimensionResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventHasMetActor">
<xs:sequence>
<xs:element name="actor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventHasMetActorResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventByActor">
<xs:sequence>
<xs:element name="actor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventByActorResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventHasMetThing">
<xs:sequence>
<xs:element name="thing" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEventHasMetThingResponse">
<xs:sequence>
<xs:element name="return" type="tns:sparqlResultMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>