DataServices-middleware-client-VM/src/wsdl/62.217.127.222_8080/DataServices-middleware/FundamentalCategories_SearchDimension.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" name="FundamentalCategories_SearchDimension">
<types>
<xsd:schema>
<xsd:import namespace="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/" schemaLocation="http://62.217.127.222:8080/DataServices-middleware/FundamentalCategories_SearchDimension?xsd=1"/>
</xsd:schema>
</types>
<message name="searchDimensionByActor">
<part name="parameters" element="tns:searchDimensionByActor"/>
</message>
<message name="searchDimensionByActorResponse">
<part name="parameters" element="tns:searchDimensionByActorResponse"/>
</message>
<message name="searchDimensionByEvent">
<part name="parameters" element="tns:searchDimensionByEvent"/>
</message>
<message name="searchDimensionByEventResponse">
<part name="parameters" element="tns:searchDimensionByEventResponse"/>
</message>
<message name="searchDimensionOfPlace">
<part name="parameters" element="tns:searchDimensionOfPlace"/>
</message>
<message name="searchDimensionOfPlaceResponse">
<part name="parameters" element="tns:searchDimensionOfPlaceResponse"/>
</message>
<message name="searchDimensionOfThing">
<part name="parameters" element="tns:searchDimensionOfThing"/>
</message>
<message name="searchDimensionOfThingResponse">
<part name="parameters" element="tns:searchDimensionOfThingResponse"/>
</message>
<portType name="FundamentalCategories_SearchDimension">
<operation name="searchDimensionByActor">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionByActorRequest" message="tns:searchDimensionByActor"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionByActorResponse" message="tns:searchDimensionByActorResponse"/>
</operation>
<operation name="searchDimensionByEvent">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionByEventRequest" message="tns:searchDimensionByEvent"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionByEventResponse" message="tns:searchDimensionByEventResponse"/>
</operation>
<operation name="searchDimensionOfPlace">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionOfPlaceRequest" message="tns:searchDimensionOfPlace"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionOfPlaceResponse" message="tns:searchDimensionOfPlaceResponse"/>
</operation>
<operation name="searchDimensionOfThing">
<input wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionOfThingRequest" message="tns:searchDimensionOfThing"/>
<output wsam:Action="http://fundamentalcategories.middleware.dataservices.lifewatch.eu/FundamentalCategories_SearchDimension/searchDimensionOfThingResponse" message="tns:searchDimensionOfThingResponse"/>
</operation>
</portType>
<binding name="FundamentalCategories_SearchDimensionPortBinding" type="tns:FundamentalCategories_SearchDimension">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchDimensionByActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDimensionByEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDimensionOfPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDimensionOfThing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FundamentalCategories_SearchDimension">
<port name="FundamentalCategories_SearchDimensionPort" binding="tns:FundamentalCategories_SearchDimensionPortBinding">
<soap:address location="http://62.217.127.222:8080/DataServices-middleware/FundamentalCategories_SearchDimension"/>
</port>
</service>
</definitions>