DataServices-middleware-client-VM/src/wsdl/62.217.127.222_8080/DataServices-middleware/MetadataRepository_Search.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://metadatarepository.middleware.dataservices.lifewatch.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://metadatarepository.middleware.dataservices.lifewatch.eu/">

<xs:element name="searchCommonName" type="tns:searchCommonName"/>

<xs:element name="searchCommonNameResponse" type="tns:searchCommonNameResponse"/>

<xs:element name="searchCommonNameWithinRange" type="tns:searchCommonNameWithinRange"/>

<xs:element name="searchCommonNameWithinRangeResponse" type="tns:searchCommonNameWithinRangeResponse"/>

<xs:element name="searchEnvironmental" type="tns:searchEnvironmental"/>

<xs:element name="searchEnvironmentalResponse" type="tns:searchEnvironmentalResponse"/>

<xs:element name="searchEnvironmentalWithinRange" type="tns:searchEnvironmentalWithinRange"/>

<xs:element name="searchEnvironmentalWithinRangeResponse" type="tns:searchEnvironmentalWithinRangeResponse"/>

<xs:element name="searchGenetics" type="tns:searchGenetics"/>

<xs:element name="searchGeneticsResponse" type="tns:searchGeneticsResponse"/>

<xs:element name="searchGeneticsWithinRange" type="tns:searchGeneticsWithinRange"/>

<xs:element name="searchGeneticsWithinRangeResponse" type="tns:searchGeneticsWithinRangeResponse"/>

<xs:element name="searchGensSample" type="tns:searchGensSample"/>

<xs:element name="searchGensSampleResponse" type="tns:searchGensSampleResponse"/>

<xs:element name="searchGensSampleWithinRange" type="tns:searchGensSampleWithinRange"/>

<xs:element name="searchGensSampleWithinRangeResponse" type="tns:searchGensSampleWithinRangeResponse"/>

<xs:element name="searchIdentification" type="tns:searchIdentification"/>

<xs:element name="searchIdentificationResponse" type="tns:searchIdentificationResponse"/>

<xs:element name="searchIdentificationWithinRange" type="tns:searchIdentificationWithinRange"/>

<xs:element name="searchIdentificationWithinRangeResponse" type="tns:searchIdentificationWithinRangeResponse"/>

<xs:element name="searchLiteral" type="tns:searchLiteral"/>

<xs:element name="searchLiteralResponse" type="tns:searchLiteralResponse"/>

<xs:element name="searchMeasurement" type="tns:searchMeasurement"/>

<xs:element name="searchMeasurementResponse" type="tns:searchMeasurementResponse"/>

<xs:element name="searchMeasurementWithinRange" type="tns:searchMeasurementWithinRange"/>

<xs:element name="searchMeasurementWithinRangeResponse" type="tns:searchMeasurementWithinRangeResponse"/>

<xs:element name="searchMicroCTPostProcessing" type="tns:searchMicroCTPostProcessing"/>

<xs:element name="searchMicroCTPostProcessingResponse" type="tns:searchMicroCTPostProcessingResponse"/>

<xs:element name="searchMicroCTPostProcessingWithinRange" type="tns:searchMicroCTPostProcessingWithinRange"/>

<xs:element name="searchMicroCTPostProcessingWithinRangeResponse" type="tns:searchMicroCTPostProcessingWithinRangeResponse"/>

<xs:element name="searchMicroCTReconstruction" type="tns:searchMicroCTReconstruction"/>

<xs:element name="searchMicroCTReconstructionResponse" type="tns:searchMicroCTReconstructionResponse"/>

<xs:element name="searchMicroCTReconstructionWithinRange" type="tns:searchMicroCTReconstructionWithinRange"/>

<xs:element name="searchMicroCTReconstructionWithinRangeResponse" type="tns:searchMicroCTReconstructionWithinRangeResponse"/>

<xs:element name="searchMicroCTScanning" type="tns:searchMicroCTScanning"/>

<xs:element name="searchMicroCTScanningResponse" type="tns:searchMicroCTScanningResponse"/>

<xs:element name="searchMicroCTScanningWithinRange" type="tns:searchMicroCTScanningWithinRange"/>

<xs:element name="searchMicroCTScanningWithinRangeResponse" type="tns:searchMicroCTScanningWithinRangeResponse"/>

<xs:element name="searchMicroCTSpecimen" type="tns:searchMicroCTSpecimen"/>

<xs:element name="searchMicroCTSpecimenResponse" type="tns:searchMicroCTSpecimenResponse"/>

<xs:element name="searchMicroCTSpecimenWithinRange" type="tns:searchMicroCTSpecimenWithinRange"/>

<xs:element name="searchMicroCTSpecimenWithinRangeResponse" type="tns:searchMicroCTSpecimenWithinRangeResponse"/>

<xs:element name="searchMorphometrics" type="tns:searchMorphometrics"/>

<xs:element name="searchMorphometricsResponse" type="tns:searchMorphometricsResponse"/>

<xs:element name="searchMorphometricsWithinRange" type="tns:searchMorphometricsWithinRange"/>

<xs:element name="searchMorphometricsWithinRangeResponse" type="tns:searchMorphometricsWithinRangeResponse"/>

<xs:element name="searchOccurrence" type="tns:searchOccurrence"/>

<xs:element name="searchOccurrenceResponse" type="tns:searchOccurrenceResponse"/>

<xs:element name="searchOccurrenceStatsTemp" type="tns:searchOccurrenceStatsTemp"/>

<xs:element name="searchOccurrenceStatsTempResponse" type="tns:searchOccurrenceStatsTempResponse"/>

<xs:element name="searchOccurrenceStatsTempWithinRange" type="tns:searchOccurrenceStatsTempWithinRange"/>

<xs:element name="searchOccurrenceStatsTempWithinRangeResponse" type="tns:searchOccurrenceStatsTempWithinRangeResponse"/>

<xs:element name="searchOccurrenceWithinRange" type="tns:searchOccurrenceWithinRange"/>

<xs:element name="searchOccurrenceWithinRangeResponse" type="tns:searchOccurrenceWithinRangeResponse"/>

<xs:element name="searchResource" type="tns:searchResource"/>

<xs:element name="searchResourceResponse" type="tns:searchResourceResponse"/>

<xs:element name="searchScientificNaming" type="tns:searchScientificNaming"/>

<xs:element name="searchScientificNamingResponse" type="tns:searchScientificNamingResponse"/>

<xs:element name="searchScientificNamingWithinRange" type="tns:searchScientificNamingWithinRange"/>

<xs:element name="searchScientificNamingWithinRangeResponse" type="tns:searchScientificNamingWithinRangeResponse"/>

<xs:element name="searchSpecimen" type="tns:searchSpecimen"/>

<xs:element name="searchSpecimenCollection" type="tns:searchSpecimenCollection"/>

<xs:element name="searchSpecimenCollectionResponse" type="tns:searchSpecimenCollectionResponse"/>

<xs:element name="searchSpecimenCollectionWithinRange" type="tns:searchSpecimenCollectionWithinRange"/>

<xs:element name="searchSpecimenCollectionWithinRangeResponse" type="tns:searchSpecimenCollectionWithinRangeResponse"/>

<xs:element name="searchSpecimenResponse" type="tns:searchSpecimenResponse"/>

<xs:element name="searchSpecimenWithinRange" type="tns:searchSpecimenWithinRange"/>

<xs:element name="searchSpecimenWithinRangeResponse" type="tns:searchSpecimenWithinRangeResponse"/>

<xs:element name="searchStats" type="tns:searchStats"/>

<xs:element name="searchStatsResponse" type="tns:searchStatsResponse"/>

<xs:element name="searchStatsWithinRange" type="tns:searchStatsWithinRange"/>

<xs:element name="searchStatsWithinRangeResponse" type="tns:searchStatsWithinRangeResponse"/>

<xs:element name="searchSynonym" type="tns:searchSynonym"/>

<xs:element name="searchSynonymResponse" type="tns:searchSynonymResponse"/>

<xs:element name="searchSynonymWithinRange" type="tns:searchSynonymWithinRange"/>

<xs:element name="searchSynonymWithinRangeResponse" type="tns:searchSynonymWithinRangeResponse"/>

<xs:element name="searchTaxonomy" type="tns:searchTaxonomy"/>

<xs:element name="searchTaxonomyResponse" type="tns:searchTaxonomyResponse"/>

<xs:element name="searchTaxonomyWithinRange" type="tns:searchTaxonomyWithinRange"/>

<xs:element name="searchTaxonomyWithinRangeResponse" type="tns:searchTaxonomyWithinRangeResponse"/>

<xs:complexType name="searchOccurrenceStatsTempWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfParts" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOccurrenceStatsTempWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:occurrenceStatsTempStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="occurrenceStatsTempStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bibliographicCitation" type="xs:string" minOccurs="0"/>
<xs:element name="countryName" type="xs:string" minOccurs="0"/>
<xs:element name="countryURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetTitle" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="ecosystemName" type="xs:string" minOccurs="0"/>
<xs:element name="ecosystemURI" type="xs:string" minOccurs="0"/>
<xs:element name="equipmentTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="equipmentTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="habitatName" type="xs:string" minOccurs="0"/>
<xs:element name="habitatURI" type="xs:string" minOccurs="0"/>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="localityName" type="xs:string" minOccurs="0"/>
<xs:element name="localityURI" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
<xs:element name="maximumDepth" type="xs:string" minOccurs="0"/>
<xs:element name="minimumDepth" type="xs:string" minOccurs="0"/>
<xs:element name="occurrenceEvent" type="xs:string" minOccurs="0"/>
<xs:element name="occurrenceEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="physicalObject" type="xs:string" minOccurs="0"/>
<xs:element name="physicalObjectURI" type="xs:string" minOccurs="0"/>
<xs:element name="samplingProtocolName" type="xs:string" minOccurs="0"/>
<xs:element name="samplingProtocolURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
<xs:element name="waterAreaName" type="xs:string" minOccurs="0"/>
<xs:element name="waterAreaURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pair">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTaxonomy">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="genus" type="xs:string" minOccurs="0"/>
<xs:element name="family" type="xs:string" minOccurs="0"/>
<xs:element name="order" type="xs:string" minOccurs="0"/>
<xs:element name="classs" type="xs:string" minOccurs="0"/>
<xs:element name="kingdom" type="xs:string" minOccurs="0"/>
<xs:element name="phylum" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTaxonomyResponse">
<xs:sequence>
<xs:element name="return" type="tns:taxonomyStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="taxonomyStruct">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0"/>
<xs:element name="classURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="familyName" type="xs:string" minOccurs="0"/>
<xs:element name="familyURI" type="xs:string" minOccurs="0"/>
<xs:element name="genusName" type="xs:string" minOccurs="0"/>
<xs:element name="genusURI" type="xs:string" minOccurs="0"/>
<xs:element name="kingdomName" type="xs:string" minOccurs="0"/>
<xs:element name="kingdomURI" type="xs:string" minOccurs="0"/>
<xs:element name="orderName" type="xs:string" minOccurs="0"/>
<xs:element name="orderURI" type="xs:string" minOccurs="0"/>
<xs:element name="phylumName" type="xs:string" minOccurs="0"/>
<xs:element name="phylumURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOccurrence">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOccurrenceResponse">
<xs:sequence>
<xs:element name="return" type="tns:occurrenceStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="occurrenceStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bibliographicCitation" type="xs:string" minOccurs="0"/>
<xs:element name="bibliographicCitationURI" type="xs:string" minOccurs="0"/>
<xs:element name="coordinates" type="xs:string" minOccurs="0"/>
<xs:element name="countryName" type="xs:string" minOccurs="0"/>
<xs:element name="countryURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetTitle" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="ecosystemName" type="xs:string" minOccurs="0"/>
<xs:element name="ecosystemURI" type="xs:string" minOccurs="0"/>
<xs:element name="equipmentTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="equipmentTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="habitatName" type="xs:string" minOccurs="0"/>
<xs:element name="habitatURI" type="xs:string" minOccurs="0"/>
<xs:element name="individualLabel" type="xs:string" minOccurs="0"/>
<xs:element name="individualURI" type="xs:string" minOccurs="0"/>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="localityName" type="xs:string" minOccurs="0"/>
<xs:element name="localityURI" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
<xs:element name="maximumDepth" type="xs:string" minOccurs="0"/>
<xs:element name="minimumDepth" type="xs:string" minOccurs="0"/>
<xs:element name="occurrenceEvent" type="xs:string" minOccurs="0"/>
<xs:element name="occurrenceEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="samplingProtocol" type="xs:string" minOccurs="0"/>
<xs:element name="samplingProtocolURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="stationNotes" type="xs:string" minOccurs="0"/>
<xs:element name="stationURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
<xs:element name="waterAreaName" type="xs:string" minOccurs="0"/>
<xs:element name="waterAreaURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSynonymWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="scientificName" type="xs:string" minOccurs="0"/>
<xs:element name="synonym" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSynonymWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:synonymStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="synonymStruct">
<xs:sequence>
<xs:element name="appellation" type="xs:string" minOccurs="0"/>
<xs:element name="appellationURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="synonyms" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchLiteral">
<xs:sequence>
<xs:element name="literalValue" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchLiteralResponse">
<xs:sequence>
<xs:element name="return" type="tns:triple" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="triple">
<xs:sequence>
<xs:element name="object" type="xs:string" minOccurs="0"/>
<xs:element name="predicate" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTPostProcessingWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTPostProcessingWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTPostProcessingStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="microCTPostProcessingStruct">
<xs:sequence>
<xs:element name="actorName" type="xs:string" minOccurs="0"/>
<xs:element name="actorURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetTitle" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="inputs" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="postProcessing" type="xs:string" minOccurs="0"/>
<xs:element name="postProcessingURI" type="xs:string" minOccurs="0"/>
<xs:element name="products" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTReconstruction">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTReconstructionResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTReconstructionStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="microCTReconstructionStruct">
<xs:sequence>
<xs:element name="actorName" type="xs:string" minOccurs="0"/>
<xs:element name="actorURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetTitle" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="inputs" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="products" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reconstruction" type="xs:string" minOccurs="0"/>
<xs:element name="reconstructionURI" type="xs:string" minOccurs="0"/>
<xs:element name="timespan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchIdentification">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="actor" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="individual" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchIdentificationResponse">
<xs:sequence>
<xs:element name="return" type="tns:identificationStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="identificationStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetTitle" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="identificationEvent" type="xs:string" minOccurs="0"/>
<xs:element name="identificationEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="identificationReferencesName" type="xs:string" minOccurs="0"/>
<xs:element name="identificationReferencesURI" type="xs:string" minOccurs="0"/>
<xs:element name="individualLabel" type="xs:string" minOccurs="0"/>
<xs:element name="individualURI" type="xs:string" minOccurs="0"/>
<xs:element name="localityName" type="xs:string" minOccurs="0"/>
<xs:element name="localityURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStats">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStatsResponse">
<xs:sequence>
<xs:element name="return" type="tns:statsStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statsStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="dataEvaluation" type="xs:string" minOccurs="0"/>
<xs:element name="dataEvaluationURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionName" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionUnit" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionValue" type="xs:string" minOccurs="0"/>
<xs:element name="publicationName" type="xs:string" minOccurs="0"/>
<xs:element name="publicationURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="specimenName" type="xs:string" minOccurs="0"/>
<xs:element name="specimenURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTScanning">
<xs:sequence>
<xs:element name="deviceName" type="xs:string" minOccurs="0"/>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="contrastMethod" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTScanningResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTScanningStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="microCTScanningStruct">
<xs:sequence>
<xs:element name="actorName" type="xs:string" minOccurs="0"/>
<xs:element name="actorURI" type="xs:string" minOccurs="0"/>
<xs:element name="contrastMethod" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="deviceName" type="xs:string" minOccurs="0"/>
<xs:element name="deviceType" type="xs:string" minOccurs="0"/>
<xs:element name="deviceURI" type="xs:string" minOccurs="0"/>
<xs:element name="equipment" type="xs:string" minOccurs="0"/>
<xs:element name="equipmentURI" type="xs:string" minOccurs="0"/>
<xs:element name="methodName" type="xs:string" minOccurs="0"/>
<xs:element name="methodURI" type="xs:string" minOccurs="0"/>
<xs:element name="products" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="scanning" type="xs:string" minOccurs="0"/>
<xs:element name="scanningURI" type="xs:string" minOccurs="0"/>
<xs:element name="specimenName" type="xs:string" minOccurs="0"/>
<xs:element name="specimenURI" type="xs:string" minOccurs="0"/>
<xs:element name="timespan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSynonym">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="scientificName" type="xs:string" minOccurs="0"/>
<xs:element name="synonym" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSynonymResponse">
<xs:sequence>
<xs:element name="return" type="tns:synonymStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMeasurementWithinRange">
<xs:sequence>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMeasurementWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:measurementStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="measurementStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionName" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionUnit" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionValue" type="xs:string" minOccurs="0"/>
<xs:element name="measurementEvent" type="xs:string" minOccurs="0"/>
<xs:element name="measurementEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="specimenName" type="xs:string" minOccurs="0"/>
<xs:element name="specimenURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEnvironmentalWithinRange">
<xs:sequence>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEnvironmentalWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:environmentalStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="environmentalStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionName" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionUnit" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionValue" type="xs:string" minOccurs="0"/>
<xs:element name="measurementEvent" type="xs:string" minOccurs="0"/>
<xs:element name="measurementEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="placeName" type="xs:string" minOccurs="0"/>
<xs:element name="placeURI" type="xs:string" minOccurs="0"/>
<xs:element name="stationName" type="xs:string" minOccurs="0"/>
<xs:element name="stationURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchResource">
<xs:sequence>
<xs:element name="resourceURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchResourceResponse">
<xs:sequence>
<xs:element name="return" type="tns:triple" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGeneticsWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="device" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGeneticsWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:gensDatasetStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gensDatasetStruct">
<xs:sequence>
<xs:element name="datasetTitle" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="device" type="xs:string" minOccurs="0"/>
<xs:element name="deviceType" type="xs:string" minOccurs="0"/>
<xs:element name="deviceTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="deviceURI" type="xs:string" minOccurs="0"/>
<xs:element name="ecosystemName" type="xs:string" minOccurs="0"/>
<xs:element name="ecosystemURI" type="xs:string" minOccurs="0"/>
<xs:element name="habitatName" type="xs:string" minOccurs="0"/>
<xs:element name="habitatURI" type="xs:string" minOccurs="0"/>
<xs:element name="producedFile" type="xs:string" minOccurs="0"/>
<xs:element name="producedFileURI" type="xs:string" minOccurs="0"/>
<xs:element name="sampleName" type="xs:string" minOccurs="0"/>
<xs:element name="sampleTaking" type="xs:string" minOccurs="0"/>
<xs:element name="sampleTakingURI" type="xs:string" minOccurs="0"/>
<xs:element name="sampleURI" type="xs:string" minOccurs="0"/>
<xs:element name="sequencingEvent" type="xs:string" minOccurs="0"/>
<xs:element name="sequencingEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCommonName">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="commonName" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="language" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCommonNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonNameStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commonNameStruct">
<xs:sequence>
<xs:element name="commonName" type="xs:string" minOccurs="0"/>
<xs:element name="commonNameURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="language" type="xs:string" minOccurs="0"/>
<xs:element name="languageURI" type="xs:string" minOccurs="0"/>
<xs:element name="places" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTaxonomyWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="genus" type="xs:string" minOccurs="0"/>
<xs:element name="family" type="xs:string" minOccurs="0"/>
<xs:element name="order" type="xs:string" minOccurs="0"/>
<xs:element name="classs" type="xs:string" minOccurs="0"/>
<xs:element name="kingdom" type="xs:string" minOccurs="0"/>
<xs:element name="phylum" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTaxonomyWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:taxonomyStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEnvironmental">
<xs:sequence>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchEnvironmentalResponse">
<xs:sequence>
<xs:element name="return" type="tns:environmentalStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTSpecimenWithinRange">
<xs:sequence>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="collection" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="provider" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTSpecimenWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTSpecimenStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="microCTSpecimenStruct">
<xs:sequence>
<xs:element name="collectionName" type="xs:string" minOccurs="0"/>
<xs:element name="collectionURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionName" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionUnit" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionValue" type="xs:string" minOccurs="0"/>
<xs:element name="fixationType" type="xs:string" minOccurs="0"/>
<xs:element name="institutionName" type="xs:string" minOccurs="0"/>
<xs:element name="institutionURI" type="xs:string" minOccurs="0"/>
<xs:element name="preservationType" type="xs:string" minOccurs="0"/>
<xs:element name="providerName" type="xs:string" minOccurs="0"/>
<xs:element name="providerURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="specimenName" type="xs:string" minOccurs="0"/>
<xs:element name="specimenType" type="xs:string" minOccurs="0"/>
<xs:element name="specimenURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchScientificNamingWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="actor" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="scientificName" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchScientificNamingWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:scientificNamingStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="scientificNamingStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="appellation" type="xs:string" minOccurs="0"/>
<xs:element name="appellationURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="nomenclaturalCodeName" type="xs:string" minOccurs="0"/>
<xs:element name="nomenclaturalCodeURI" type="xs:string" minOccurs="0"/>
<xs:element name="scientificNameAssignmentEvent" type="xs:string" minOccurs="0"/>
<xs:element name="scientificNameAssignmentEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchScientificNaming">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="actor" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="scientificName" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchScientificNamingResponse">
<xs:sequence>
<xs:element name="return" type="tns:scientificNamingStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGensSampleWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="device" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGensSampleWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:gensSampleStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gensSampleStruct">
<xs:sequence>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="deviceName" type="xs:string" minOccurs="0"/>
<xs:element name="deviceType" type="xs:string" minOccurs="0"/>
<xs:element name="deviceURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionName" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionUnit" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionValue" type="xs:string" minOccurs="0"/>
<xs:element name="placeName" type="xs:string" minOccurs="0"/>
<xs:element name="placeURI" type="xs:string" minOccurs="0"/>
<xs:element name="postProcessingURI" type="xs:string" minOccurs="0"/>
<xs:element name="postProductName" type="xs:string" minOccurs="0"/>
<xs:element name="postProductURI" type="xs:string" minOccurs="0"/>
<xs:element name="productName" type="xs:string" minOccurs="0"/>
<xs:element name="productURI" type="xs:string" minOccurs="0"/>
<xs:element name="sampleName" type="xs:string" minOccurs="0"/>
<xs:element name="sampleURI" type="xs:string" minOccurs="0"/>
<xs:element name="sequencingURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="transformationURI" type="xs:string" minOccurs="0"/>
<xs:element name="transformedSampleName" type="xs:string" minOccurs="0"/>
<xs:element name="transformedSampleURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOccurrenceStatsTemp">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfParts" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOccurrenceStatsTempResponse">
<xs:sequence>
<xs:element name="return" type="tns:occurrenceStatsTempStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMorphometrics">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMorphometricsResponse">
<xs:sequence>
<xs:element name="return" type="tns:morphometricsStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="morphometricsStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeAssignmentEvent" type="xs:string" minOccurs="0"/>
<xs:element name="attributeAssignmentEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionName" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionTypeURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionURI" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionUnit" type="xs:string" minOccurs="0"/>
<xs:element name="dimensionValue" type="xs:string" minOccurs="0"/>
<xs:element name="publicationName" type="xs:string" minOccurs="0"/>
<xs:element name="publicationURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGenetics">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="device" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGeneticsResponse">
<xs:sequence>
<xs:element name="return" type="tns:gensDatasetStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimenCollection">
<xs:sequence>
<xs:element name="collectionName" type="xs:string" minOccurs="0"/>
<xs:element name="ownerName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimenCollectionResponse">
<xs:sequence>
<xs:element name="return" type="tns:specimenCollectionStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="specimenCollectionStruct">
<xs:sequence>
<xs:element name="collectionName" type="xs:string" minOccurs="0"/>
<xs:element name="collectionURI" type="xs:string" minOccurs="0"/>
<xs:element name="contactPoint" type="xs:string" minOccurs="0"/>
<xs:element name="creationEvent" type="xs:string" minOccurs="0"/>
<xs:element name="creationEventURI" type="xs:string" minOccurs="0"/>
<xs:element name="creatorName" type="xs:string" minOccurs="0"/>
<xs:element name="creatorURI" type="xs:string" minOccurs="0"/>
<xs:element name="curatorName" type="xs:string" minOccurs="0"/>
<xs:element name="curatorURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="keeperName" type="xs:string" minOccurs="0"/>
<xs:element name="keeperURI" type="xs:string" minOccurs="0"/>
<xs:element name="note" type="xs:string" minOccurs="0"/>
<xs:element name="ownerName" type="xs:string" minOccurs="0"/>
<xs:element name="ownerURI" type="xs:string" minOccurs="0"/>
<xs:element name="timespan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStatsWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchStatsWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:statsStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTScanningWithinRange">
<xs:sequence>
<xs:element name="deviceName" type="xs:string" minOccurs="0"/>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="contrastMethod" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTScanningWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTScanningStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimen">
<xs:sequence>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="collection" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimenResponse">
<xs:sequence>
<xs:element name="return" type="tns:specimenStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="specimenStruct">
<xs:sequence>
<xs:element name="actors" type="tns:pair" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="collectionName" type="xs:string" minOccurs="0"/>
<xs:element name="collectionURI" type="xs:string" minOccurs="0"/>
<xs:element name="datasetName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="individualURI" type="xs:string" minOccurs="0"/>
<xs:element name="methodName" type="xs:string" minOccurs="0"/>
<xs:element name="methodURI" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="speciesURI" type="xs:string" minOccurs="0"/>
<xs:element name="specimenName" type="xs:string" minOccurs="0"/>
<xs:element name="specimenURI" type="xs:string" minOccurs="0"/>
<xs:element name="timeSpan" type="xs:string" minOccurs="0"/>
<xs:element name="transformationEvent" type="xs:string" minOccurs="0"/>
<xs:element name="transformationEventURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOccurrenceWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOccurrenceWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:occurrenceStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGensSample">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="device" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchGensSampleResponse">
<xs:sequence>
<xs:element name="return" type="tns:gensSampleStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimenWithinRange">
<xs:sequence>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="collection" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimenWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:specimenStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMorphometricsWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMorphometricsWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:morphometricsStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMeasurement">
<xs:sequence>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="dimension" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMeasurementResponse">
<xs:sequence>
<xs:element name="return" type="tns:measurementStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTSpecimen">
<xs:sequence>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="collection" type="xs:string" minOccurs="0"/>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="provider" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTSpecimenResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTSpecimenStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTReconstructionWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTReconstructionWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTReconstructionStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCommonNameWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="commonName" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="language" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCommonNameWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonNameStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTPostProcessing">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="specimen" type="xs:string" minOccurs="0"/>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMicroCTPostProcessingResponse">
<xs:sequence>
<xs:element name="return" type="tns:microCTPostProcessingStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimenCollectionWithinRange">
<xs:sequence>
<xs:element name="collectionName" type="xs:string" minOccurs="0"/>
<xs:element name="ownerName" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSpecimenCollectionWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:specimenCollectionStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchIdentificationWithinRange">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="actor" type="xs:string" minOccurs="0"/>
<xs:element name="place" type="xs:string" minOccurs="0"/>
<xs:element name="individual" type="xs:string" minOccurs="0"/>
<xs:element name="datasetURI" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="limit" type="xs:int"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchIdentificationWithinRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:identificationStruct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>