DataServices-middleware-client-VM/src/wsdl/62.217.127.222_8080/DataServices-middleware/MetadataRepository_Text.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://metadatarepository.middleware.dataservices.lifewatch.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://metadatarepository.middleware.dataservices.lifewatch.eu/">

<xs:element name="produceText" type="tns:produceText"/>

<xs:element name="produceTextResponse" type="tns:produceTextResponse"/>

<xs:complexType name="produceText">
<xs:sequence>
<xs:element name="speciesName" type="xs:string" minOccurs="0"/>
<xs:element name="browseURL" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryGraph" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="produceTextResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>